<!-- <style>
  .container {
    height: 200px;
    position: relative;
    border: 1px solid red;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    padding: 25px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  </style> -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Essdee Mock App</span>
    </mat-toolbar-row>
</mat-toolbar>
      
<mat-tab-group>
    <mat-tab label = "New DC"> 
        <mat-toolbar>
            <mat-toolbar-row>
              <span> Delivery Challan </span>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-card>
          <div>
            <form>
              <input type="text"
                     placeholder="D.C. Type (Department)"
                     [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
              <mat-option> Dyeing </mat-option>
              <mat-option> Bleaching</mat-option>
              <mat-option> Knitting</mat-option>
              <mat-option> Packing</mat-option>
              <mat-option> Fusing</mat-option>
            </mat-autocomplete> 
            &nbsp;
            <mat-checkbox>Internal Goods Transfer</mat-checkbox>
          </form>
        </div>
          <div>
          <form >
            <input type="text"
                   placeholder="Supplier Name"
                   [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option> Essdee Test 1 </mat-option>
            <mat-option> Essdee Test 2</mat-option>
            <mat-option> Essdee Test 3</mat-option>
            <mat-option> Essdee Test 4</mat-option>
            <mat-option> Essdee Test 5</mat-option>
          </mat-autocomplete> 
        </form>
          </div>
          <section>
            <button mat-raised-button color="red" style="float: right">Clear DC</button>
            &nbsp;
            <button mat-raised-button color="accent" style="float: left">Save</button>
            </section>
        </mat-card>
        
       <!-- <div class="vertical-center">
          <button >Cloth</button>
          <button>Piece</button>
          <button>Packed</button>
          <button>Accessories</button>
        </div> -->
        <!-- &nbsp; -->
        <!-- <div class="container">
      </div> -->
    </mat-tab>
    <mat-tab label = "View DC"> 
        <mat-toolbar>
            <mat-toolbar-row>
              <span>  DC List </span>
            </mat-toolbar-row>
        </mat-toolbar>
        </mat-tab>
 </mat-tab-group>